---
name: Minecraft Bedrock Tag

on:
  workflow_dispatch:
  schedule:
    - cron: "54 */6 * * *"

permissions:
  contents: read

jobs:
  build:
    name: Minecraft Bedrock Tag
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      # https://github.com/tyriis/bedrock-version-fetcher
      - name: Fetch Bedrock Version
        uses: tyriis/bedrock-version-fetcher@0c2759e7c6b80fa64788ab47367ca53bfa469707 # v3.0.1
        id: bedrock

      - name: PrintBedrock Version
        run: echo "Current Minecraft Bedrock version is ${{ steps.bedrock.outputs.version }}"

      # https://github.com/marketplace/actions/install-gh-cli
      - name: install github cli
        if: ${{ steps.bedrock.outputs.version }} != ${{ steps.get_latest_tag.outputs.tag }}
        uses: dev-hanz-ops/install-gh-cli-action@af38ce09b1ec248aeb08eea2b16bbecea9e059f8 # v0.2.1

      - name: Setup Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Setup Tools
        run: |
          brew install jq

      - name: get current release
        id: release
        run: echo "version=$(gh release view --json tagName | jq -r .tagName)" >> $GITHUB_OUTPUT
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: print current release
        run: echo "Current Release is ${{ steps.release.outputs.version }}"

      - name: create release
        if: steps.bedrock.outputs.version != steps.release.outputs.version && steps.release.outputs.version != 'release not found'
        run: |
          echo "Updating to ${{ steps.bedrock.outputs.version }}"
          gh release create ${{ steps.bedrock.outputs.version }} --title ${{ steps.bedrock.outputs.version }} --notes "Minecraft Bedrock version ${{ steps.bedrock.outputs.version }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
